html, body {
  height: 100%;
  margin: 0;
}

#lipsum {
  color: #eee;
}

#parallax-container {
  // https://via.placeholder.com/150
}

// fullscreen menu
#menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #FF5252;

  visibility: hidden;
  height: 0%;
  opacity: 0;

  #menu {
    overflow: scroll;
    height: 100%;
    position: relative;

    ul {
      margin: 0 auto;
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      list-style: none;
      // text-align: center;
      a {
        color: #000;
        font-weight: bold;
        font-size: 40px;
      }
    }
  }
}

#menu-overlay.open {
  opacity: 0.9;
  visibility: visible;
  height: 100%;
}

#content {
  height: 100%;
  overflow: auto;
}

#topbar {
  position: relative;

  #logo {
    display: block;
    position: absolute;
    top: 20px;
    left: 60px;


    h1 {
      font-size: 40px;
      margin: 0;
      padding: 0;
      line-height: 100%;
    }

  }

  #menu_toggler {
    display: block;
    cursor: pointer;
    width: 35px;
    height: 27px;
    position: absolute;
    top: 25px;
    right: 60px;
    z-index: 9999;    

    span {
      background: #000;
      border: none;
      height: 5px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;

      transition: all .25s ease;
    }

    span.middle {
      // 5 + 6 = 11
      top: 11px;    
    }
    span.bottom {
      // 5 + 6 + 5 + 6 = 22
      top: 22px;
    }
  }

  #menu_toggler.active {
    .top {
      // move down 11px, then rotate
      transform: translateY(11px) translateX(0) rotate(45deg);
    }

    .middle {
      opacity: 0;
    }

    .bottom {
      // move up 11px, then rotate
      transform: translateY(-11px) translateX(0) rotate(-45deg);
    }
  }

}




